
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Student_portal</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
    <link rel="stylesheet" href="{{url_for('static' ,filename='css/style.css')}}">
   <script src="script.js" defer></script>
    
</head>

<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="Logo"> <img src="/static/Images/logo.webp" alt="error"></div>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutus">AboutUs</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/aboutus">Contact</a></li>
        </ul>
    
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="background firstsection" id="Home">
        <div class="box-main">
            <div class="firsthalf">
                <p class="text-big">GIKI MMS</p>
                <p class="text-small">Master the mess with our sleek Mess Management System. Organize, communicate, and track meals effortlessly.</p>
                <div class="buttons">
                    <button class="btn"><a href="/login" style="text-decoration: none; color: white;">Login</a></button>
                    <button class="btn">Watch video</button>
                </div>
            </div>

            <div class="secondhalf">
                <img src="/static/Images/logo.webp" alt="error!">
            </div>
        </div>

    </section>

    <footer class="background1">
        <p class="a">CopyRight &copy; www.MessManagement.com 2024 All rights are reserved</p>

    </footer>
</body>
<script src="{{url_for('static' ,filename='js/script.js')}}"></script>
</html>